<template>
  <div id="app">
    <header class="header">
      <div class="layout header-content">
        <div class="logo"><img src="images/logo.png" /></div>
        <div class="header-title">Quick Notes</div>
        <div><SimpleButton :color="'green'">Главная</SimpleButton></div>
        <div><SimpleButton>Новая заметка</SimpleButton></div>
      </div>
    </header>
    <div>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";
export default {
  components: {
    SimpleButton
  }
};
</script>

<style lang="less">
html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}
img {
      max-width: 100%;
      max-height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 10px 0;

  .header-content {
      display: flex;
      align-items: center;

      .header-title {
          font-size: 30px;
      }

      .logo {
          width: 40px;
      }
  }
}

.layout {
  width: 1200px;
}
</style>
