<template>
  <div id="app">
    <Header/>
    <div>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/Header";
export default {
  components: {
    Header
  }
};
</script>

<style lang="less">
* {
    box-sizing: border-box;
}
html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}
img {
      max-width: 100%;
      max-height: 100%;
}
a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0 20px;
}

.layout {
  width: 1200px;
}
</style>
