<template>
  <div id="app">
    <header class="header">
      <div class="layout header-content">
        <div class="logo"><img src="images/logo.png" /></div>
        <div class="header-title">Quick Notes</div>
        <router-link to="/"><div class="main-page-btn"><SimpleButton>Главная</SimpleButton></div></router-link>
        <div class="create-new-btn"><SimpleButton :color="'green'"><img src="images/plus.svg"><span>Новая заметка</span></SimpleButton></div>
      </div>
    </header>
    <div>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";
export default {
  components: {
    SimpleButton
  }
};
</script>

<style lang="less">
* {
    box-sizing: border-box;
}
html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}
img {
      max-width: 100%;
      max-height: 100%;
}
a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 10px 0;
  background: #FBFBFB;

  .header-content {
      display: flex;
      align-items: center;

      .header-title {
          font-size: 30px;
      }

      .logo {
          width: 40px;
      }

      .main-page-btn {
          margin-left: 30px;
      }

      .create-new-btn {
          margin-left: auto;
      }
  }
}

.layout {
  width: 1200px;
}
</style>
