<template>
  <div id="app">
      <header class="header">
          <div class="layout">

          </div>
      </header>
    <div>
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.header {
    display: flex;
    justify-content: center;
}

.layout {
    width: 1350px;
}

</style>
