<template>
  <div>
    <input
      @input="handleChange"
      type="text"
      name="phone"
      :placeholder="placeholder"
      autocomplete="off"
      class="input-normal"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  props: {
    placeholder: {
      type: String,
      default: 'Введите значение'
    }
  },
  methods: {
    handleChange(event) {
      this.value = event.target.value;
      this.$emit("input", event.target.value);
    },
  },
  updated() {},
  mounted() {}
};
</script>

<style lang="less">
.input-normal {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: rgba(125, 131, 141, 0.6);
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d7ddeb;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding-left: 21%;
  padding-right: 10px;

  &::placeholder {
    color: rgba(125, 131, 141, 0.6);
  }
}
</style>
