<template>
  <div>
    <input 
      @input="handleChange"
      @focus="handleFocus"
      @blur="handleBlur"
      type="text"
      name="phone"
      placeholder="+7 (XXX) XXX-XX-XX"
      autocomplete="off"
      class="input-phone input-normal"
      :class="{
        'input-focus-with-text': phone && isFocused,
        'input-focus-without-text': !phone && isFocused,
        'input-not-correct': isNotCorrect || blurNotFullPhone && phone.replace(/\D+/g, '').length < 11,
        'with-text': phone.length
      }"
      v-mask="{mask: '+7 (999) 999-99-99', greedy: false, placeholder: 'X'}"
    >
  </div>
</template>

<script>
export default {
  data() {
    return {
      phone: "",
      isFocused: false,
      blurNotFullPhone: false
    }
  },
  props: {
    isNotCorrect: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleChange(event){
      this.blurNotFullPhone = false;
      this.phone = event.target.value;
      this.$emit('input', this.phone.replace(/\D+/g, '')); // убираем все символы кроме цифр.

    },
    handleFocus(){
      this.isFocused = true
    },
    handleBlur(){
      this.isFocused = false;
      this.blurNotFullPhone = true;
    }

  },
  updated(){
  },
  mounted(){

    
  }
  

}

// jQuery(function($){
//   $(".input-form-phone").mask("+7(999) 999-99-99");
//  });

      // if(this.phone.length !== 17){
      //   $('.input-form-phone').css('border', ' 1.5px solid rgba(230, 70, 70, 0.6)')
      //   return;
      // }
</script>




<style lang="scss">
.input-normal {
  display: flex;
  /* font-family: 'AvenirNext-Medium'; */
  font-size: 14px;
  line-height: 21px;
  // color: #3D3D3D;
  color: rgba(125,131,141, 0.6);
  background: rgba(255, 255, 255, 1);
  border: 1px solid #D7DDEB;
  border-radius: 4px;
  /* padding-left: 50px; */
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding-left: 21%;
  padding-right: 10px;
  
  &::placeholder {
      color: rgba(125,131,141, 0.6);
  }
}
.input-focus-with-text {
  border: 1.5px solid rgba(1, 121, 209, 0.65);
}
.input-focus-without-text {
  border: 1.5px solid rgba(230, 70, 70, 0.6);
}
.input-not-correct {
  border: 1.5px solid rgba(230, 70, 70, 0.6);
}
.with-text {
  color: #3D3D3D;
}



</style>