<template>
  <div>
    <input
      @input="handleChange"
      @focus="handleFocus"
      @blur="handleBlur"
      type="text"
      name="phone"
      placeholder="+7 (XXX) XXX-XX-XX"
      autocomplete="off"
      class="input-phone input-normal"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {
      phone: "",
      isFocused: false,
      blurNotFullPhone: false
    };
  },
  props: {

  },
  methods: {
    handleChange(event) {
      this.blurNotFullPhone = false;
      this.value = event.target.value;
      this.$emit("input", this.phone.replace(/\D+/g, "")); // убираем все символы кроме цифр.
    },
    handleFocus() {
      this.isFocused = true;
    },
    handleBlur() {
      this.isFocused = false;
      this.blurNotFullPhone = true;
    }
  },
  updated() {},
  mounted() {}
};
</script>

<style lang="scss">
.input-normal {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: rgba(125, 131, 141, 0.6);
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d7ddeb;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding-left: 21%;
  padding-right: 10px;

  &::placeholder {
    color: rgba(125, 131, 141, 0.6);
  }
}
</style>
