<template>
    <textarea
      v-focus
      @input="handleChange"
      @blur="handleBlur"
      :value="value"
      :placeholder="placeholder"
      type="text"
      :class="`input-normal ${customClass}`"
    />
</template>

<script>
export default {
  data() {
    return {

    };
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: 'Введите значение'
    },
    customClass: {
      type: String,
      default: ''
    }
  },
  methods: {
    handleChange(event) {
      this.$emit("input", event.target.value);
    },
    handleBlur(event) {
      console.log(event.target.value);
      this.$emit("blur", event.target.value);
    }
  },
  updated() {
    
  },
  mounted() {}
};
</script>

<style lang="less">
.input-normal {
  vertical-align:top;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d7ddeb;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  height: 100%;

  &::placeholder {
    color: rgba(125, 131, 141, 0.6);
  }
}
</style>
