<template>
  <div>
    <input
      @input="handleChange"
      @blur="handleBlur"
      :value="value"
      :placeholder="placeholder"
      type="text"
      autocomplete="off"
      class="input-normal"
    />
  </div>
</template>

<script>
export default {
  data() {
    return {

    };
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: 'Введите значение'
    }
  },
  methods: {
    handleChange(event) {
      this.$emit("input", event.target.value);
    },
    handleBlur(e) {
      this.$emit("blur", e);
    }
  },
  updated() {
    
  },
  mounted() {}
};
</script>

<style lang="less">
.input-normal {
  display: flex;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #d7ddeb;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding: 10px;

  &::placeholder {
    color: rgba(125, 131, 141, 0.6);
  }
}
</style>
