<template>
  <div @click="handleClick" class="button-wrapper">
    <div class="button-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: "red" || "gray"
    }
  },
  computed: {
    class() {
      return {
        'button-red': this.color === 'red',
        'button-gray': this.color === 'gray',
      }
    }
  },
  methods: {
    handleClick(event) {
      this.$emit("click", event);
    }
  }
};
</script>

<style lang="less">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  background: #0179d1;
  box-shadow: 0px 5px 15px rgba(1, 121, 209, 0.4);
  font-size: 16px;
  color: #ffffff;


.button-content {
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
    stroke: #ffffff;
  }
}
}
</style>
