<template>

  <div
    @click="handleClick"
    class="button-wrapper"
    :class="{
      'button-theme-blue': theme === 'blue',
      'button-theme-white': theme === 'white',
      'button-theme-gray': theme === 'gray',
      'button-size-m': size === 'm',
      'button-size-l': size === 'l',
      
    }"
  >
    <div class="button-content">
      <searchIcon v-if="icon === 'search'"></searchIcon>
      <closeIcon v-if="icon === 'close'"></closeIcon>
      <span>{{title}}</span>
    </div>
    
    <slot v-if="!title"></slot>
  </div>

</template>

<script>
export default{
  data() {
    return {
      
    }
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    theme: {
      type: String,
      default: 'blue'
    },
    size: {
      type: String,
      default: 'm'
    },
    icon: String
  },
  methods: {
    handleClick(event) {
      this.$emit('click', event);
    }
  },
  components: {
  },
  mounted() {

  }
}

</script>


<style lang="less">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.button-content {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
    stroke: #FFFFFF;
  }
}

.button-theme-blue {
  background: #0179D1;
  box-shadow: 0px 5px 15px rgba(1, 121, 209, 0.4);
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
    // font-family: 'AvenirNext-Medium';

  &:hover {
    background: #0072C6;
  }

  &:active {
    background: #006DBD;
  }
  
  svg {
    stroke: #FFFFFF;
  }

}
.button-theme-gray{
  font-size: 14px;
  line-height: 19px;
  color: #0179D1;
  font-family: 'AvenirNext-DemiBold';
  background: #E7F0F7;

  &:hover {
    background: #E1EBF2;
  }

  &:active {
    background: #DCE7EF;
  }

  svg {
    stroke: #0179D1;
  }
}

.button-theme-white{
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(13, 56, 139, 0.15);
  font-size: 16px;
  line-height: 22px;
  color: #0076CD;

  &:hover {
  background: #FAFBFC;
  box-shadow: 0px 5px 15px rgba(13, 56, 139, 0.2);  
  }

  &:active {
  background: #F9FAFB;
  box-shadow: 0px 3px 12px rgba(13, 56, 139, 0.25);
  }

  svg {
    stroke: #0076CD;
  }
}
.button-size-m{
  height: 40px;
}
.button-size-l{
  height: 50px;
}









</style>