<template>
  <div @click="handleClick" :class="classes" class="button-wrapper">
    <div class="button-content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String
    }
  },
  computed: {
    classes() {
      return {
        "button-red": this.color === "red",
        "button-green": this.color === "green"
      };
    }
  },
  methods: {
    handleClick(event) {
      this.$emit("click", event.target.value);
    }
  },
  mounted() {
    // console.log(this.class);
  }
};
</script>

<style lang="less">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  background: #0179d1;
  font-size: 16px;
  color: #ffffff;

  &:active {
    opacity: 0.9;
  }

  &.button-red {
    background: tomato;
  }
  &.button-green {
    background: #42b983;
  }

  .button-content {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
      max-height: 20px;
      filter: brightness(0) invert(1);
    }
  }
}
</style>
