<template>

  <div
    @click="handleClick"
    class="button-wrapper"
    :class="{
      'button-theme-blue': theme === 'blue',
      'button-theme-white': theme === 'white',
      'button-theme-gray': theme === 'gray',
      'button-size-m': size === 'm',
      'button-size-l': size === 'l',
      
    }"
  >
    <div class="button-content">
      <slot></slot>
    </div>
    
  </div>

</template>

<script>
export default{
  methods: {
    handleClick(event) {
      this.$emit('click', event);
    }
  }
}
</script>


<style lang="scss">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.button-content {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
    stroke: #FFFFFF;
  }
}

.button-theme-blue {
  background: #0179D1;
  box-shadow: 0px 5px 15px rgba(1, 121, 209, 0.4);
  font-size: 16px;
  color: #FFFFFF;

  &:hover {
    background: #0072C6;
  }

  &:active {
    background: #006DBD;
  }
  
  svg {
    stroke: #FFFFFF;
  }

}







</style>