<template>
  <div @click="handleClick" :class="class" class="button-wrapper">
    <div class="button-content" :id="33" :class="{ 'sd-ere': true }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: "red" || "gray"
    }
  },
  computed: {
    class() {
      return {
        "button-red": this.color === "red",
        "button-gray": this.color === "gray"
      };
    }
  },
  methods: {
    handleClick(event) {
      this.$emit("click", event);
    }
  },
  mounted() {
    console.log(this.class);
  }
};
</script>

<style lang="less">
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  background: #0179d1;
  box-shadow: 0px 5px 15px rgba(1, 121, 209, 0.4);
  font-size: 16px;
  color: #ffffff;

  .button-content {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      margin-right: 10px;
      stroke: #ffffff;
    }
  }
}
</style>
