<template>
  <div class="page">
    <div class="detail-content">
      <div class="content">
        <div class="detail-title">
          <InputCustom
            v-if="!(isBlurTitle && title)"
            :value="title"
            @input="handleChangeTitle"
            @blur="handleBlurTitle"
            :placeholder="'Введите название заметки'"
            :customClass="'input-title'"
          ></InputCustom>
          <div v-else @click="handleBlurTitle" class="title-text">
            {{ title }}
          </div>
        </div>
        <div class="task-list-wrapper">
          <div class="task-title">Список задач</div>
          <div class="task-list">
            <div class="items">
              <TaskItem
                v-for="(item, index) in items"
                :item="item"
                @updateItem="handleUpdateItem"
                @remove="handleRemoveItem"
                :index="index"
                :key="item.id"
                :revert="isRevert"
              ></TaskItem>
            </div>
            <div class="add-item">
              <SimpleButton @click="addItem"
                ><img src="images/plus.svg" /><span
                  >Добавить</span
                ></SimpleButton
              >
            </div>
          </div>
        </div>
      </div>
      <div class="list-actions">
        <div class="action">
          <SimpleButton @click="save" color="green"
            ><img src="images/ok.svg" /><span>Сохранить</span></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="acceptOpen('cancel')"
            ><img src="images/cancel.svg" /><span
              >Отменить ред.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="revert"
            ><img src="images/cancel.svg" /><span
              >Отменить внесённое изм.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="revertChanges" color="green"
            ><img src="images/revert.svg" /><span
              >Повторить отменнённое изм.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="acceptOpen('remove')" color="red"
            ><img src="images/delete.svg" /><span>Удалить</span></SimpleButton
          >
        </div>
      </div>
    </div>
    <Accept
      v-if="acceptPopup"
      :close="handleCloseAccept"
      :accept="handleAccept"
      :cancel="handleCloseAccept"
      :title="acceptTitle"
    ></Accept>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import SimpleButton from "@/components/common/SimpleButton";
import Accept from "@/components/common/Accept";
import TaskItem from "@/components/TaskItem";
export default {
  data() {
    const { currentNote, currentListId } = this.$store.state;

    return {
      title: currentNote.title,
      items: currentNote.list.slice(),
      currentListId,
      isBlurTitle: false,
      isRevert: false,
      acceptPopup: false,
      acceptType: ""
    };
  },
  methods: {
    /**
     * Обработчик изменения заголовка.
     */
    handleChangeTitle(value) {
      this.title = value;
    },

    /**
     * Обработчик блюра с заголовка.
     */
    handleBlurTitle() {
      this.isBlurTitle = !this.isBlurTitle;
    },

    /**
     * Обработчик блюра с заголовка.
     */
    handleUpdateItem(item) {
      this.items.splice(item.index, 1, item);
    },

    /**
     * Добавление пункта задачи.
     */
    addItem() {
      this.$store.commit("incrementCurrentListId");
      this.items.push({
        isDone: false,
        text: "",
        id: this.$store.state.currentListId
      });
    },

    /**
     * Обработчик удаления элемента.
     *
     * @param {number} index Индекс элемента списка дел.
     */
    handleRemoveItem(index) {
      this.items.splice(index, 1);
    },

    /**
     * Сохраниение заметки.
     */
    save() {
      if (this.needExitFuncSave()) return;
      const note = this.collectNote();
      this.$store.commit("addNote", note);
      this.$router.push({ name: "Home" });
    },

    /**
     * Сохранение черновика.
     */
    saveDraft() {
      if (this.needExitFuncSave()) return;
      const note = this.collectNote();
      this.$store.commit("setDraftCurrentNote", note);
    },

    /**
     * Вспомогательный метод, определяет нужно ли выходить из функции сохранения черновика/заметки.
     * @returns {boolean}
     */
    needExitFuncSave() {
      const filteredItems = this.items.filter(item => item.text);
      return !(this.title && filteredItems.length);
    },

    /**
     * Метод сборки сущности заявки/черновика с необходимыми свойствами.
     * @returns {{id: *, title, list: *}}
     */
    collectNote() {
      const { currentNote, noteId } = this.$store.state;
      const notEmptyItems = this.items.filter(item => item.text);
      const id = currentNote.init ? noteId : currentNote.id;

      const note = {
        title: this.title,
        list: notEmptyItems,
        id
      };
      return note;
    },

    /**
     * Отмена редактирования.
     */
    cancelEdit() {
      this.$router.push({ name: "Home" });
    },

    /**
     * Установка состояния из store.
     */
    setDataFromStore() {
      const { currentNote } = this.$store.state;
      this.title = currentNote.title;
      this.items = currentNote.list.slice();
      this.isRevert = !this.isRevert;
    },

    /**
     * Отмена внесённое изменение.
     */
    revert() {
      this.saveDraft();
      this.setDataFromStore();
    },

    /**
     * Возврат отменнённого изменения.
     */
    revertChanges() {
      this.$store.commit("applyDraft");
      this.setDataFromStore();
    },

    /**
     * УДаление заметки.
     */
    remove() {
      const { currentNote } = this.$store.state;
      if (currentNote.init) return;
      this.$store.commit("removeNote", currentNote.id);
      this.$router.push({ name: "Home" });
    },

    /**
     * Обработчик подтверждения действия в модальном окне.
     */
    handleAccept() {
      if (this.acceptType === "remove") {
        if (this.$store.state.currentNote.init) {
          this.cancelEdit();
        } else {
          this.remove();
        }
      } else if (this.acceptType === "cancel") {
        this.cancelEdit();
      }
    },

    /**
     * Открытие модального окна.
     * @param type Тип открываемого окна.
     */
    acceptOpen(type) {
      this.acceptPopup = true;
      this.acceptType = type;
    },

    /**
     * Обработчик закрытия модального окна.
     */
    handleCloseAccept() {
      this.acceptPopup = false;
    }
  },
  computed: {
    acceptTitle() {
      return this.acceptType === "remove"
        ? "Вы действительно хотите удалить заметку?"
        : "Вы действительно хотите отменить редактирование?";
    }
  },
  beforeDestroy() {
    this.$store.commit("clearDraft");
  },
  components: {
    InputCustom,
    SimpleButton,
    TaskItem,
    Accept
  }
};
</script>

<style lang="less">
.detail-content {
  width: 720px;
  background: white;
  padding: 20px;
  border: 1px solid #e4e4ee;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .detail-title {
    background: white;
    border: 1px solid #e4e4ee;
    border-radius: 6px;

    .title-text {
      padding: 10px;
      font-size: 30px;
      word-wrap: break-word;
    }
    .input-title {
      font-size: 30px;
    }
  }

  .task-list-wrapper {
    margin-top: 30px;

    .task-title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .list-actions {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 0;

    .action {
      flex-grow: 1;
      margin: 5px 10px 5px;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 20px 15px 15px;
    .detail-title {
      .title-text {
        font-size: 20px;
      }
      .input-title {
        font-size: 20px;
      }
    }
  }
}
</style>
