<template>
  <div class="page">
    <div v-if="!notesList.length" class="layout empty-list">
      <div class="empty-title">
        У вас ещё нет заметок, создайте первую прямо сейчас!
      </div>
      <div class="image-empty">
        <div @click="openNewNote" class="start-btn">Start</div>
        <img src="images/dinos.png" />
      </div>
    </div>
    <div v-else class="layout node-list">
      <div class="list-wrapper">
        <div v-for="note in notesList" :key="note.id" class="node-item-wrapper">
          <Note @edit="handleEdit" @remove="acceptRemove" :note="note"></Note>
        </div>
      </div>
    </div>
    <Accept
      v-if="acceptPopup"
      :close="handleCloseAccept"
      :accept="handleRemove"
      :cancel="handleCloseAccept"
      title="Вы действительно хотите удалить заметку?"
    ></Accept>
  </div>
</template>

<script>
import Note from "@/components/Note";
import Accept from "@/components/common/Accept";

export default {
  name: "Home",
  data() {
    return {
      notesList: this.$store.state.notesList,
      acceptPopup: false,
      clickedNoteId: null
    };
  },
  methods: {
    /**
     * Обработчик редактирования заметки.
     * @param noteId id Заметки.
     */
    handleEdit(noteId) {
      this.$store.commit("setCurrentNote", noteId);
      this.$router.push({ name: "Detail" });
    },

    /**
     * Обработчик удление заметки.
     * @param noteId id Заметки.
     */
    acceptRemove(noteId) {
      this.clickedNoteId = noteId;
      this.acceptPopup = true;
    },

    /**
     * Обработчик закрытия окна подтверждения.
     */
    handleCloseAccept() {
      this.acceptPopup = false;
    },

    /**
     * Обработчик подтверждения удаления в модальном окне подтверждения.
     */
    handleRemove() {
      this.$store.commit("removeNote", this.clickedNoteId);
      this.acceptPopup = false;
    },

    /**
     * Обработчик создания новой заявки.
     */
    openNewNote() {
      const { dispatch } = this.$store;
      dispatch("createNewNote");
      this.$router.push({ name: "Detail" });
    }
  },
  updated() {},
  components: { Note, Accept }
};
</script>

<style lang="less">
.node-list {
  padding: 20px 0 10px;

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .node-item-wrapper {
    width: 33.3333%;
    padding: 0 10px 20px;
  }

  @media (max-width: 1199px) {
    &.layout {
      width: 100%;
    }
    .node-item-wrapper {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    .node-item-wrapper {
      width: 100%;
    }
  }
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;

  .empty-title {
    font-size: 26px;
  }

  .image-empty {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #42b983;
    font-size: 26px;
    border: 5px solid white;
    color: white;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 5px 10px rgba(3, 62, 105, 0.08);
    transition: 0.2s;

    &:active {
      border-width: 7px;
      box-shadow: none;
    }

    &:hover {
      background: #4fd197;
    }
  }
  @media (max-width: 767px) {
    .image-empty {
      padding: 0 10px;
      img {
        margin-top: 50px;
        width: 95%;
      }
    }
    .start-btn {
      width: 80px;
      height: 80px;
      font-size: 22px;
    }
    .empty-title {
      font-size: 20px;
      text-align: center;
    }
  }
}
</style>
