<template>
  <header class="header">
    <div class="layout header-content">
      <div class="logo"><img src="images/logo.png" /></div>
      <div class="header-title">Quick Notes</div>
      <div class="main-page-btn">
        <router-link :to="{ name: 'Home' }"
          ><SimpleButton
            ><span class="short-text-btn">Заметки</span
            ><span class="text-btn">Доска заметок</span></SimpleButton
          ></router-link
        >
      </div>
      <div class="create-new-btn">
        <router-link :to="{ name: 'Detail' }"
          ><SimpleButton color="green" @click="addNewNote"
            ><img src="images/plus.svg" /><span
              >Новая заметка</span
            ></SimpleButton
          ></router-link
        >
      </div>
    </div>
  </header>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";
export default {
  methods: {
    /**
     * Обработчик создания новой заявки.
     */
    addNewNote() {
      const { dispatch } = this.$store;
      if (this.$router.currentRoute.name === "Detail") return;
      dispatch("createNewNote");
    }
  },
  components: {
    SimpleButton
  }
};
</script>

<style lang="less">
.header {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 10px 20px;
  background: white;

  .short-text-btn {
    display: none;
  }

  .header-content {
    display: flex;
    align-items: center;

    .header-title {
      font-size: 30px;
    }

    .logo {
      width: 40px;
      margin-right: 10px;
    }

    .main-page-btn {
      margin-left: 30px;
    }

    .create-new-btn {
      margin-left: auto;
    }
  }
  @media (max-width: 580px) {
    & {
      padding: 10px;
    }
    .header-content {
      .header-title {
        font-size: 22px;
      }
      .main-page-btn {
        margin-left: auto;
      }
      .create-new-btn {
        margin-left: 15px;
        span {
          display: none;
        }
        img {
          margin-right: 0;
        }
      }
      .short-text-btn {
        display: inline;
      }
      .text-btn {
        display: none;
      }
    }
  }
}
</style>
