<template>
  <div class="item-wrapper">
    <input
      class="check-input"
      v-model="isDone"
      @change="handleChangeReady"
      type="checkbox"
    />
    <div class="item-text">
      <div v-if="isVisible" @click="handleFocusText" class="counter">
        {{ index + 1 }}
      </div>
      <InputCustom
        v-if="!isVisible"
        :value="text"
        @input="handleChangeText"
        @blur="handleBlurText"
        @focus="handleFocusText"
        placeholder="Введите описание задачи"
      >
      </InputCustom>
      <div
        v-else
        @click="handleFocusText"
        class="title-text"
        :class="{ strikethrough: isDone }"
      >
        {{ text }}
      </div>
    </div>
    <div class="item-actions">
      <SimpleButton @click="remove" :color="'red'">
        <img src="images/delete.svg" /><span>Удалить</span></SimpleButton
      >
      <SimpleButton v-show="!isVisible" :color="'green'">
        <img src="images/ok.svg" /><span>Сохранить</span></SimpleButton
      >
    </div>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    return {
      text: this.item.text,
      isDone: this.item.isDone,
      isBlurText: false
    };
  },
  props: {
    item: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: 0
    },
    // необходимо ли записать данные в стейт из пропсы.
    revert: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    revert: "revertData"
  },
  computed: {
    isVisible() {
      return this.isBlurText && this.text;
    }
  },
  methods: {
    /**
     * Обновление данных с пропсы.
     */
    revertData() {
      this.text = this.item.text;
      this.isDone = this.item.isDone;
    },

    /**
     * Обработчик изменения текста элемента.
     * @param value
     */
    handleChangeText(value) {
      this.text = value;
    },

    /**
     * Обработчик блюра с текста.
     */
    handleBlurText() {
      this.isBlurText = true;
      this.update();
    },

    /**
     * Обработчик фокуса на тексте.
     */
    handleFocusText() {
      this.isBlurText = false;
    },

    /**
     * Обработчик состояния задачи(выполнена/не выполнена).
     */
    handleChangeReady() {
      this.update();
    },

    /**
     * Обновление элемента списка.
     */
    update() {
      const item = {
        isDone: this.isDone,
        text: this.text,
        index: this.index,
        id: this.item.id
      };
      this.$emit("updateItem", item);
    },

    /**
     * Удаление элемента списка.
     */
    remove() {
      this.$emit("remove", this.index);
    }
  },
  components: {
    InputCustom,
    SimpleButton
  }
};
</script>

<style lang="less">
.item-wrapper {
  display: flex;
  align-items: center;
  min-height: 85px;
  margin-bottom: 20px;

  .check-input {
    width: 20px;
    height: 20px;
  }

  .item-text {
    flex-grow: 1;
    margin: 0 10px;
    align-self: stretch;
    background: white;
    border: 1px solid #e4e4ee;
    border-radius: 6px;
    position: relative;

    .counter {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 80px;
      font-weight: 600;
      line-height: 80px;
      opacity: 0.02;
      z-index: 0;
    }

    .title-text {
      height: 100%;
      padding: 10px;
      word-break: break-word;
    }
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .item-actions {
    min-width: 132px;
    align-self: stretch;

    .button-wrapper {
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
  @media (max-width: 767px) {
    .item-actions {
      min-width: 42px;
      .button-wrapper {
        span {
          display: none;
        }
        img {
          margin: 0;
        }
      }
    }
  }
}
</style>
