<template>
  <div class="detail-page">
    <div class="detail-content">
      <div class="detail-title">
        <InputCustom
          v-if="!(isBlurTitle && title)"
          :value="title"
          @input="handleChangeTitle"
          @blur="handleBlurTitle"
          :placeholder="'Введите название заметки'"
          :customClass="'input-title'"
        ></InputCustom>
        <div v-else @click="handleBlurTitle" class="title-text">
          {{ title }}
        </div>
      </div>
      <div class="task-list-wrapper">
        <div class="task-title">Список задач</div>
        <div class="task-list">
          <div class="items">
            <TaskItem v-for="(item,index) in items" :key="index" @saveItem="handleSaveItem"></TaskItem>
            <!-- <TaskItem></TaskItem>
            <TaskItem></TaskItem> -->
          </div>
          <div class="add-item"><SimpleButton @click="addItem"><img src="images/plus.svg" /><span>Добавить</span></SimpleButton></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import TaskItem from "@/components/TaskItem";
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    return {
      title: "",
      isBlurTitle: false,
      items: []
    };
  },
  methods: {
    handleChangeTitle(value) {
      this.title = value;
    },
    handleBlurTitle() {
      this.isBlurTitle = !this.isBlurTitle;
    },
    handleSaveItem(item) {
      console.log('item: ', item);

    },
    addItem() {

    }
  },
  updated() {},
  components: {
    InputCustom,
    SimpleButton,
    TaskItem,
  }
};
</script>

<style lang="less">
.detail-page {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.detail-content {
  width: 720px;
  background: #ebecf0;
  min-height: 700px;
  padding: 10px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;

  .detail-title {
    background: #d3d3d3;

    .title-text {
      padding: 10px;
      font-size: 30px;
      word-wrap: break-word;
    }
    .input-title {
      font-size: 30px;
    }
  }
  .task-list-wrapper {
    margin-top: 30px;

    .task-title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
</style>
