<template>
  <div class="detail-page">
    <div class="detail-content">

    </div>
    
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="less">
.detail-page {
  display: flex;
  justify-content: center;
}
.detail-content {
  width: 720px;
  background: yellowgreen;
  min-height: 700px;
}
</style>