<template>
  <div class="detail-page">
    <div class="detail-content">
      <div class="detail-title">
        <InputCustom v-if="!isBlurTitle" :value="title" @input="handleChangeTitle" @blur="handleBlurTitle" :placeholder="'Введите название заметки'"></InputCustom>
        <div v-else @click="handleBlurTitle" class="title-text">{{title}}</div>
      </div>
    </div>
    
  </div>
</template>

<script>
import InputCustom from '@/components/common/InputCustom';
export default {
  data() {
    return {
      title: '',
      isBlurTitle: false
    }
  },
  methods: {
    handleChangeTitle(value) {
      this.title = value;
    },
    handleBlurTitle() {
      this.isBlurTitle = !this.isBlurTitle;
    }
  },
  updated() {

  },
  components: {
    InputCustom
  }
}
</script>

<style lang="less">
.detail-page {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.detail-content {
  width: 720px;
  background: yellowgreen;
  min-height: 700px;

  .title-text {
    height: 40px;
    padding: 10px;
  }
}
</style>