<template>
  <div class="page">
    <div class="detail-content">
      <div class="content">
        <div class="detail-title">
          <InputCustom
            v-if="!(isBlurTitle && title)"
            :value="title"
            @input="handleChangeTitle"
            @blur="handleBlurTitle"
            :placeholder="'Введите название заметки'"
            :customClass="'input-title'"
          ></InputCustom>
          <div v-else @click="handleBlurTitle" class="title-text">
            {{ title }}
          </div>
        </div>
        <div class="task-list-wrapper">
          <div class="task-title">Список задач</div>
          <div class="task-list">
            <div class="items">
              <TaskItem
                v-for="(item, index) in items"
                :item="item"
                @updateItem="handleUpdateItem"
                @remove="handleRemove"
                :index="index"
                :key="item.id"
                :revert="isRevert"
              ></TaskItem>
            </div>
            <div class="add-item">
              <SimpleButton @click="addItem"
                ><img src="images/plus.svg" /><span
                  >Добавить</span
                ></SimpleButton
              >
            </div>
          </div>
        </div>
      </div>
      <div class="list-actions">
        <div class="action">
          <SimpleButton @click="save" color="green"
            ><img src="images/ok.svg" /><span>Сохранить</span></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="cancelEdit"
            ><img src="images/cancel.svg" /><span
              >Отменить ред.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="revert"
            ><img src="images/cancel.svg" /><span
              >Отменить внесённое изм.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="revertChanges" color="green"
            ><img src="images/revert.svg" /><span
              >Повторить отменнённое изм.</span
            ></SimpleButton
          >
        </div>
        <div class="action">
          <SimpleButton @click="remove" color="red"
            ><img src="images/delete.svg" /><span>Удалить</span></SimpleButton
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import TaskItem from "@/components/TaskItem";
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    const {currentNote, currentListId} = this.$store.state;

    return {
      title: currentNote.title,
      items: currentNote.list.slice(),
      currentListId,
      isBlurTitle: false,
      isRevert: false
    };
  },
  methods: {
    handleChangeTitle(value) {
      this.title = value;
    },
    handleBlurTitle() {
      this.isBlurTitle = !this.isBlurTitle;
    },
    handleUpdateItem(item) {
      this.items.splice(item.index, 1, item);
    },
    addItem() {
      // const {state, commit} = this.$store;
      this.$store.commit('incrementCurrentListId');
      // ++this.currentListId;
      this.items.push({
        isDone: false,
        text: "",
        id: this.$store.state.currentListId
      });
    },
    /**
     * Обработчик удаления элемента.
     *
     * @param {number} index Индекс элемента списка дел.
     */
    handleRemove(index) {
      this.items.splice(index, 1);
    },
    save() {
      const filteredItems = this.items.filter(item => item.text);
      if (!(this.title && filteredItems.length)) return;

      // this.$store.commit('incrementNoteId');
      // console.log("filteredItems: ", filteredItems);
      const {currentNote, noteId} = this.$store.state;
      const id = currentNote.init ? noteId : currentNote.id
      console.log('noteId: ', noteId);
      console.log('currentNote.id: ', currentNote.id);
      console.log('id: ', id);

      const note = {
        title: this.title,
        list: filteredItems,
        id
      };
      this.$store.commit("addNote", note);
      this.$router.push('/');
      // console.log(this.$store.state.notesList);
    },
    
    cancelEdit() {
      this.$router.push('/');
    },
    revert() {
      debugger
      const {currentNote, currentListId} = this.$store.state;
      this.title = currentNote.title;
      this.items = currentNote.list.slice();
      this.isRevert = !this.isRevert;
    },
    revertChanges() {},
    remove() {}
  },
  computed: {},
  mounted() {},
  updated() {
    console.log('this.$store.state.currentNote',this.$store.state.currentNote)
  },
  components: {
    InputCustom,
    SimpleButton,
    TaskItem
  }
};
</script>

<style lang="less">
.detail-content {
  width: 720px;
  background: #ebecf0;
  min-height: 700px;
  padding: 10px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .detail-title {
    background: #d3d3d3;

    .title-text {
      padding: 10px;
      font-size: 30px;
      word-wrap: break-word;
    }
    .input-title {
      font-size: 30px;
    }
  }
  .task-list-wrapper {
    margin-top: 30px;

    .task-title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .list-actions {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -10px 0;

    .action {
      flex-grow: 1;
      margin: 0 10px 5px;
    }
  }
}
</style>
