<template>
  <div class="detail-page">
    <div class="detail-content">
      <div class="detail-title">

      </div>
    </div>
    
  </div>
</template>

<script>
import InputCustom from '@/components/common/InputCustom'
export default {
  components: {
    InputCustom
  }
}
</script>

<style lang="less">
.detail-page {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.detail-content {
  width: 720px;
  background: yellowgreen;
  min-height: 700px;
}
</style>