<template>
  <div class="page">
    <div class="layout node-list">
      <div class="list-wrapper">
        <div v-for="note in notesList" :key="note.id" class="node-item-wrapper">
          <Note @edit="handleEdit" @remove="handleRemove" :note="note"></Note>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Note from "@/components/Note";

export default {
  name: "Home",
  data() {
    return {
      notesList: this.$store.state.notesList
    };
  },
  methods: {
    handleEdit(noteId) {
      console.log('noteId: ', noteId);
      this.$store.commit('setCurrentNote', noteId);
      this.$router.push('')

    },
    
    handleRemove(noteId) {
      console.log('noteId: ', noteId);
      this.$store.commit('removeNote', noteId);

    }
  },
  computed: {},
  mounted() {
    console.log("this.$store.state.notesList", this.$store.state.notesList);
  },
  updated() {
  },
  components: { Note }
};
</script>

<style lang="less">
.node-list {
  background: #fbfbfb;
  padding: 10px;

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;

    .node-item-wrapper {
      width: 33.3333%;
      padding: 0 10px 20px;
    }
  }
}
</style>
