<template>
  <div class="page">
    <div class="layout node-list">
      <div class="list-wrapper">
        <div v-for="note in notesList" :key="note.id" class="node-item-wrapper">
          <Note :note="note"></Note>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Note from "@/components/Note";

export default {
  name: "Home",
  data() {
    return {
      notesList: this.$store.state.notesList
    };
  },
  methods: {
    edit() {},
    remove() {}
  },
  computed: {},
  mounted() {
    console.log("this.$store.state.notesList", this.$store.state.notesList);
    console.log("this.cutNote", this.cutNote);
  },
  updated() {
    console.log("this.cutNote", this.cutNote);
  },
  components: { Note }
};
</script>

<style lang="less">
.node-list {
  background: #fbfbfb;
  padding: 10px;

  .list-wrapper {
    display: flex;
    flex-wrap: wrap;

    .node-item-wrapper {
      width: 33.3333%;
      padding: 0 10px 20px;
    }
  }
}
</style>
