<template>
  <div @click.self="handleClose" class="accept-overlay">
    <div class="accept-content">
      <div class="accept-head">{{ title }}</div>
      <div class="accept-body">
        <div class="accept-actions">
          <SimpleButton @click="handleAccept" color="red">Да</SimpleButton>
          <SimpleButton @click="handleCancel">Нет</SimpleButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleButton from "./SimpleButton";
export default {
  props: {
    title: String,
    accept: Function,
    cancel: Function,
    close: Function
  },
  methods: {
    handleAccept() {
      this.accept && this.accept();
    },
    handleCancel() {
      this.cancel && this.cancel();
      this.close && this.close();
    },
    handleClose() {
      this.close && this.close();
    }
  },
  components: {
    SimpleButton
  }
};
</script>

<style lang="less">
.accept-overlay {
  background: linear-gradient(
      0deg,
      rgba(46, 47, 50, 0.7) 0%,
      rgba(46, 47, 50, 0) 49.69%,
      rgba(46, 47, 50, 0.7) 100%
    ),
    linear-gradient(
      270deg,
      rgba(46, 47, 50, 0.7) 0%,
      rgba(46, 47, 50, 0) 49.35%,
      rgba(46, 47, 50, 0.7) 100%
    ),
    rgba(46, 47, 50, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .accept-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: white;
    border-radius: 6px;

    .accept-head {
      font-size: 20px;
    }

    .accept-actions {
      display: flex;
      margin-top: 30px;
      .button-wrapper {
        margin: 0 20px;
        min-width: 120px;
      }
    }
  }
  @media (max-width: 500px) {
    padding: 15px;
    .accept-content {
      padding: 20px;
      width: 100%;
      .accept-head {
        font-size: 18px;
        text-align: center;
      }
      .accept-body {
        width: 100%;
      }
      .accept-actions {
        display: flex;
        margin-top: 15px;
        width: 100%;
        .button-wrapper {
          margin: 0 5px;
          min-width: 0;
          width: 100%;
        }
      }
    }
  }
}
</style>
