<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/Header";
export default {
  components: {
    Header
  }
};
</script>

<style lang="less">
* {
  box-sizing: border-box;
}
html,
body,
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #f6f6ff;
  min-width: 340px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.layout {
  width: 1200px;
}

.page {
  display: flex;
  justify-content: center;
  padding: 30px 10px;
  min-height: calc(100vh - 60px);
}
</style>
