<template>
  <header class="header">
    <div class="layout header-content">
      <div class="logo"><img src="images/logo.png" /></div>
      <div class="header-title">Quick Notes</div>
      <div class="main-page-btn">
        <router-link to="/"><SimpleButton>Главная</SimpleButton></router-link>
      </div>
      <div class="create-new-btn">
        <router-link to="/detail"
          ><SimpleButton color="green" @click="addNewNote"
            ><img src="images/plus.svg" /><span
              >Новая заметка</span
            ></SimpleButton
          ></router-link
        >
      </div>
    </div>
  </header>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";
export default {
  methods: {
    addNewNote() {
      const {commit} = this.$store;
      commit("resetCurrentNote");
      commit("incrementNoteId");
    }
  },
  components: {
    SimpleButton
  }
};
</script>

<style lang="less">
.header {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 10px;
  background: #fbfbfb;

  .header-content {
    display: flex;
    align-items: center;

    .header-title {
      font-size: 30px;
    }

    .logo {
      width: 40px;
    }

    .main-page-btn {
      margin-left: 30px;
    }

    .create-new-btn {
      margin-left: auto;
    }
  }
}
</style>
