<template>
    <header class="header">
      <div class="layout header-content">
        <div class="logo"><img src="images/logo.png" /></div>
        <div class="header-title">Quick Notes</div>
        <router-link to="/"><div class="main-page-btn"><SimpleButton>Главная</SimpleButton></div></router-link>
        <router-link to="/detail"><div class="create-new-btn"><SimpleButton :color="'green'"><img src="images/plus.svg"><span>Новая заметка</span></SimpleButton></div></router-link>
      </div>
    </header>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";
export default {
  components: {
    SimpleButton 
  }
};
</script>

<style lang="less">
.header {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 10px 0;
  background: #FBFBFB;

  .header-content {
      display: flex;
      align-items: center;

      .header-title {
          font-size: 30px;
      }

      .logo {
          width: 40px;
      }

      .main-page-btn {
          margin-left: 30px;
      }

      .create-new-btn {
          margin-left: auto;
      }
  }
}
</style>
