<template>
  <div class="node-item">
    <div class="item-content">
      <div class="item-head">{{ note.title }}</div>
      <div class="item-list">
        <div v-for="item in note.list.slice(0, 3)" :key="item.id" class="item">
          <input
            v-model="item.isDone"
            class="item-status"
            type="checkbox"
            disabled
          />
          <div class="todo" :class="{ done: item.isDone }">{{ item.text }}</div>
        </div>
      </div>
    </div>

    <div class="actions-item">
      <div class="action">
        <SimpleButton @click="edit"
          ><img src="images/revert.svg" /><span
            >Редактировать</span
          ></SimpleButton
        >
      </div>
      <div class="action">
        <SimpleButton @click="remove" color="red"
          ><img src="images/cancel.svg" /><span>Удалить</span></SimpleButton
        >
      </div>
    </div>
  </div>
</template>

<script>
import SimpleButton from "@/components/common/SimpleButton";

export default {
  data() {
    return {};
  },
  props: {
    note: {
      type: Object,
      default: null
    }
  },
  methods: {
    edit() {},
    remove() {}
  },
  mounted() {},
  updated() {},
  components: { SimpleButton }
};
</script>

<style lang="less">
.node-item {
  background: #ebecf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;

  .item-head {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
  }

  .item {
    display: flex;
    padding: 5px 10px;

    .item-status {
      margin-right: 10px;
    }
  }

  .actions-item {
    display: flex;
    padding: 10px;
    margin: 0 -5px;

    .action {
      flex-grow: 1;
      padding: 0 5px;
    }
  }
}
.done {
  text-decoration: line-through;
}
</style>
