<template>
  <div class="item-wrapper">
    <input v-model="item.isDone" @change="handleChangeReady" type="checkbox" />
    <div class="item-text">
      <InputCustom
        v-if="!(isBlurText && text)"
        :value="item.text"
        @input="handleChangeText"
        @blur="handleBlurText"
        @focus="handleFocusText"
        :placeholder="'Введите задачу'"
      >
      </InputCustom>
      <div
        v-else
        @click="handleFocusText"
        class="title-text"
        :class="{ strikethrough: isDone }"
      >
        {{ text }}
      </div>
    </div>
    <div class="item-actions">
      <SimpleButton @click="remove" :color="'red'">
        <img src="images/delete.svg" /><span>Удалить</span></SimpleButton
      >
      <SimpleButton v-if="!(isBlurText && text)" :color="'green'">
        <img src="images/ok.svg" /><span>Сохранить</span></SimpleButton
      >
    </div>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    return {
      text: "",
      isBlurText: false,
      isDone: false
    };
  },
  props: {
    item: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: 0
    }
  },
  computed: {},
  methods: {
    handleChangeText(value) {
      this.text = value;
    },
    handleBlurText() {
      this.isBlurText = true;
      this.update();
    },
    handleFocusText() {
      this.isBlurText = false;
    },
    handleChangeReady() {
      this.update();
    },
    update() {
      const item = {
        isDone: this.isDone,
        text: this.text,
        index: this.index
      }
      this.$emit('updateItem', item);
    },
    remove() {
      this.$emit('remove', this.index);
    }
  },
  updated() {},
  components: {
    InputCustom,
    SimpleButton
  }
};
</script>

<style lang="less">
.item-wrapper {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;

  .item-text {
    width: 75%;
    margin: 0 10px;
    align-self: stretch;
    background: #e1e1e1;

    .title-text {
      height: 100%;
      padding: 10px;
    }
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .item-actions {
    align-self: stretch;

    .button-wrapper {
      &:first-child {
        margin-bottom: 5px;
        width: max-content;
      }
    }
  }
}
</style>
