<template>
  <div class="item-wrapper">
    <input :value="isDone" @change="handleChangeReady" type="checkbox">
    <div class="item-text">
      <InputCustom
      v-if="!isBlurText"
      :value="text"
      @input="handleChangeText"
      @blur="handleBlurText"
      :placeholder="'Введите название заметки'"
      :customClass="'input-item'"
      >
      </InputCustom>
      <div v-else @click="handleBlurText" class="title-text">{{title}}</div>
    </div>
    <div class="item-actions">
      <SimpleButton :color="'green'"><img src="images/plus.svg"><span>Новая заметка</span></SimpleButton>
    </div>
   
  </div>
</template>

<script>
import InputCustom from '@/components/common/InputCustom';
export default {
  data() {
    return {
      text: '',
      isBlurText: false,
      isDone: false
    }
  },
  methods: {
    handleChangeText(value) {
      this.title = value;
    },
    handleBlurText() {
      this.isBlurText = !this.isBlurText;
    },
    handleChangeReady(event) {
      console.log('event: ', event);

    }
  },
  updated() {

  },
  components: {
    InputCustom
  }
}
</script>

<style lang="less">

</style>