<template>
  <div class="item-wrapper">
    <input v-model="isDone" type="checkbox" />
    <div class="item-text">
      <InputCustom
        v-if="!isBlurText || !text"
        :value="text"
        @input="handleChangeText"
        @blur="handleBlurText"
        @focus="handleFocusText"
        :placeholder="'Введите задачу'"
      >
      </InputCustom>
      <div
        v-else
        @click="handleBlurText"
        class="title-text"
        :class="{ strikethrough: isDone }"
      >
        {{ text }}
      </div>
    </div>
    <div class="item-actions">
      <SimpleButton :color="'red'">
        <img src="images/delete.svg" /><span>Удалить</span></SimpleButton
      >
      <SimpleButton v-if="!(isBlurText && text)" :color="'green'">
        <img src="images/ok.svg" /><span>Сохранить</span></SimpleButton
      >
    </div>
  </div>
</template>

<script>
import InputCustom from "@/components/common/InputCustom";
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    return {
      text: "",
      isBlurText: true,
      isDone: false
    };
  },
  computed: {},
  methods: {
    handleChangeText(value) {
      this.text = value;
    },
    handleBlurText() {
      this.isBlurText = true;
    },
    handleFocusText() {
      this.isBlurText = false;
    },
    handleChangeReady(event) {
      this.isDone = event.target.value;
      console.log("event.target.value: ", event);
      console.log("isDone: ", this.isDone);
    }
  },
  updated() {},
  components: {
    InputCustom,
    SimpleButton
  }
};
</script>

<style lang="less">
.item-wrapper {
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;

  .item-text {
    width: 75%;
    margin: 0 10px;
    align-self: stretch;
    background: #e1e1e1;

    .title-text {
      height: 100%;
      padding: 10px;
    }
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .item-actions {
    align-self: stretch;

    .button-wrapper {
      &:first-child {
        margin-bottom: 5px;
        width: max-content;
      }
    }
  }
}
</style>
