<template>
  <div class="item-wrapper">
    <input :value="isDone" @change="handleChangeReady" type="checkbox">
    <div class="item-text">
      <InputCustom
      v-if="!isBlurText || !text"
      :value="text"
      @input="handleChangeText"
      @blur="handleBlurText"
      :placeholder="'Введите название заметки'"
      :customClass=""
      >
      </InputCustom>
      <div v-else @click="handleBlurText" class="title-text">{{text}}</div>
    </div>
    <div class="item-actions">
      <SimpleButton :color="'green'"><img src="images/ok.svg"><span>Сохранить</span></SimpleButton>
      <SimpleButton :color="'red'"><img src="images/delete.svg"><span>Удалить</span></SimpleButton>
    </div>
   
  </div>
</template>

<script>
import InputCustom from '@/components/common/InputCustom';
import SimpleButton from "@/components/common/SimpleButton";
export default {
  data() {
    return {
      text: '',
      isBlurText: false,
      isDone: false
    }
  },
  computed: {
    textThrowClass() {
      return 
    }
  },
  methods: {
    handleChangeText(value) {
      this.text = value;
    },
    handleBlurText() {
      this.isBlurText = !this.isBlurText;
    },
    handleChangeReady(event) {
      this.isDone = event.target.value;
      console.log('isDone: ', this.isDone);

    }
  },
  updated() {

  },
  components: {
    InputCustom,
    SimpleButton
  }
}
</script>

<style lang="less">
.item-wrapper {
    display: flex;
    align-items: center;
    min-height: 60px;

    .item-text {
      width: 80%;
      margin: 0 10px;
      align-self: stretch;

      .title-text {
        height: 100%;
        padding: 10px;
      }
    }

    .item-actions {
      .button-wrapper {
        &:first-child {
          margin-bottom: 5px;
        }
      }
    }
}
</style>