<template>
  <div class="item-wrapper">
    <input type="checkbox">
    <InputCustom></InputCustom>


    <div class="detail-content">
      <div class="detail-title">
        <InputCustom v-if="!isBlurTitle || title === ''" :value="title" @input="handleChangeTitle" @blur="handleBlurTitle" :placeholder="'Введите название заметки'" :customClass="'input-title'"></InputCustom>
        <div v-else @click="handleBlurTitle" class="title-text">{{title}}</div>
      </div>
      <div class="task-list">
        <div class="task-title">Список задач</div>
      </div>
    </div>
    
  </div>
</template>

<script>
import InputCustom from '@/components/common/InputCustom';
export default {
  data() {
    return {
      title: '',
      isBlurTitle: false
    }
  },
  methods: {
    handleChange(value) {
      this.title = value;
    },
    handleBlur() {
      this.isBlurTitle = !this.isBlurTitle;
    }
  },
  updated() {

  },
  components: {
    InputCustom
  }
}
</script>

<style lang="less">

</style>